/* your code */
table{
	border:1px solid black;
	width:100%;
	height:160px;
  /* border-collapse:separate; */
	border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
	border-spacing:0px;
}
th{
	text-align:left;
	background-color:slateblue;
	color:white;
}
tr:nth-child(odd) {background-color: #f2f2f2;

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
}
				   
				   